<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenGuard | Know your plant well</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="./src/script.js"></script>
    <script defer src="./src/app.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Kanit:wght@300;500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Montserrat:wght@600&family=Roboto+Condensed:wght@700&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Kanit:wght@500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Dela+Gothic+One&family=Kanit:wght@300;500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Montserrat:wght@600&family=Roboto+Condensed:wght@700&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@600&family=Montserrat&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@600&family=Titillium+Web&family=Ysabeau+Infant:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e296fc494b.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://kit.fontawesome.com/e296fc494b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div id="header1">
        <div class="container1">
            <nav>
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
                <ul>
                    <li><a href="./index.html">Home </a></li>
                    <!-- <li><a href="#skills"></a></li> -->
                    <li><a href="#about">AI</a></li>
                    <!-- <li><a href="#projects">Projects</a></li> -->
                    <li><a href="#social-cards">Follow Me</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <hr>

                </ul>
            </nav>
            <div class="header-text">
                <h1>GreenGuard.</h1>

            </div>
            <div class="header-text2">
                <h2 class="headdd">Try our Global Crop  <br>Yield Atlas.</h2>

            </div>

        </div>



    </div>
<!-- ----------------------------------------------------------- -->
<div id="bod">
    <section class="container">
        <h2 class="headdd1">Explore Crop Insights</h2>
    </section>
    <div class="about-col-1">

        <img src="./images/neww.jpg" alt=" ">
        </div>
        <!-- <div class="about-col-2">

            <img src="./images/us.JPG" alt=" ">
            </div> -->


    <iframe class="map" src="https://www.yieldgap.org/gygaviewer/index.html" width="1200" height="1000" frameborder="0" allowfullscreen></iframe>

</div>
<div id="social-cards">
    <section class="container0">
        <!-- <section class="wrapper0">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
       </section> -->
        <div class="cards">

            <div class="card0 twitter">
                <h2 class="card0-title-large">Twitter</h2>
                <h3 class="card0-title-small">Twitter</h3>
                <p class="card0-description">
                    Follow me on Twitter to know more about me..
                </p>
                <a href="https://twitter.com/@achyuthan_s" class="card0-cta1">&rarr;</a>
            </div>
            <div class="card0 instagram">
                <h2 class="card0-title-large">Instagram</h2>
                <h3 class="card0-title-small">Instagram</h3>
                <p class="card0-description">
                    Follow me on Insta to know more about me..
                </p>
                <a href="https://www.instagram.com/achyuthan.s/" class="card0-cta1">&rarr;</a>
            </div>

            <div class="card0 facebook">
                <h2 class="card0-title-large">Github</h2>
                <h3 class="card0-title-small">Github</h3>
                <p class="card0-description">
                    Open to see my account..
                </p>
                <a href="https://www.facebook.com/" class="card0-cta1">&rarr;</a>
            </div>

            <div class="card0 LinkedIn">
                <h2 class="card0-title-large">LinkedIn</h2>
                <h3 class="card0-title-small">LinkedIn</h3>
                <p class="card0-description">
                    Follow me on LinkedIn to know more about me..
                </p>
                <a href="https://www.linkedin.com/in/achyuthan-sivasankar-b0814b221/" class="card0-cta1">&rarr;</a>
            </div>
        </div>
    </section>
    <section class="container00">
        <div class="scroll">
          <div class="RightToLeft">
            <p class="infintescroll">Rooted in Wellness: Unmasking Plant Health Secrets!</p>
            <p class="infintescroll">Rooted in Wellness: Unmasking Plant Health Secrets!</p>
          </div>
          <div class="LeftToRight">
            <p class="infintescroll">Green Vigilance: Where Leaves Speak, We Listen!</p>
            <p class="infintescroll">Green Vigilance: Where Leaves Speak, We Listen!</p>
          </div>
        </div>
      </section>
      <!-- <img src="./images/signature.png" class="sign"/>
      <span class="doneby">-done by-</span> -->
      <!-- <img src="./images/whitearrow.png" class="whitearrow2"/>
        -->
    </div>
    <script>
        ScrollReveal({


    distance:'60px',
    duration:2500,
    delay:400
    });

         ScrollReveal().reveal('.header-text,#about,#contact', {delay:500});
         ScrollReveal().reveal('.wrapper,.social-icons1,.about-col-1,.gallery-wrapper2,.title,.work,.contact', {delay:500, origin:'left'});
         ScrollReveal().reveal('.image-box,hr,.img-tools,.img-tools1,.img-tools10,.img-tools12,.img-tools2,.img-tools3,.img-tools4,.img-tools5,.img-tools6,.img-tools7,.img-tools8,.img-tools9,.img-tools11,.header-text2,.headdd1,.headdd12', {delay:600, origin:'top'});
         ScrollReveal().reveal('.btn,.btn0,.btn00,.btn01,btn02,.btn1,.btn2,.btn4,.about-style,.sub-title1', {delay:600,origin:'bottom'});
         ScrollReveal().reveal('.card0.twitter,.gallery-item2', {delay:200,origin:'left'});
         ScrollReveal().reveal('.card0.instagram,.instr,.fa-solid fa-mobile', {delay:900,origin:'left'});
         ScrollReveal().reveal('.card0.facebook,.instr1,.fa-solid fa-cloud-arrow-up', {delay:1600,origin:'left'});
         ScrollReveal().reveal('.card0.LinkedIn,.instr2,.fa-solid fa-file-lines', {delay:2300,origin:'left'});
         ScrollReveal().reveal('.gallery-item3', {delay:2000,origin:'right'});
         ScrollReveal().reveal('nav,.multi,.submit,.video', {delay:1000,origin:'bottom'});
         ScrollReveal().reveal('nav li,.social-icons1', {delay:2600,origin:'right'});
         ScrollReveal().reveal('.logo,.result', {delay:2600,origin:'left'});


        </script>
     
</body>
</html>