<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenGuard | Sowing Health, Growing Happiness!</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="index.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="./src/script.js"></script>
    <script defer src="./src/app.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Kanit:wght@300;500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Montserrat:wght@600&family=Roboto+Condensed:wght@700&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Kanit:wght@500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Dela+Gothic+One&family=Kanit:wght@300;500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Montserrat:wght@600&family=Roboto+Condensed:wght@700&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@600&family=Montserrat&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@600&family=Titillium+Web&family=Ysabeau+Infant:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e296fc494b.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://kit.fontawesome.com/e296fc494b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
                <ul>
                    <li><a href="#header">Home </a></li>
                    <!-- <li><a href="#skills"></a></li> -->
                    <li><a href="#about">About Us</a></li>
                    <!-- <li><a href="#projects">Projects</a></li> -->
                    <li><a href="#portfolio">AI</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <hr>
                   
                </ul>
               
            </nav>

            <!-- <button class="btn-login" onclick="login()">Log In</button> -->
            <div class="wrapper">
                <div class="cols cols0">
                    <div class="header-text">
                        <h1>GreenGuard.</h1>
                    </div>

                    <h1 class="multi"><span class="multitext"> </span></h1>
                </div>
            </div>
            <div class="social-icons1">
                <a href="https://www.linkedin.com/in/achyuthan-sivasankar-b0814b221/"><i class="fab fa-linkedin"></i></a>
                <a href="https://wa.me/9845341031"><i class="fab fa-whatsapp"></i></a>
                <a href="https://twitter.com/@achyuthan_s"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/achyuthan.s/"><i class="fab fa-instagram"></i></a>

             </div>
             <br><br><br><br><br>
            <hr>
            <!-- <img src="./images/line.jpg" class="line"> -->

        </div>

        <!-- <hr class="head"> -->

    </div>
    <!-- -------------About--------------- -->
    <div id="about">
        <section class="container">
            <h2 class="title">
                <span class="primary">ABOUT </span>
                <span class="secondary">
                    About Us
                </span>
            </h2>
            <div class="about-col-1">

                <img src="{{ url_for('static', filename='images/us.JPG') }}" class="logo">
                </div>
            <section class="">
                <p class="about-style">Welcome to our botanical haven, where we specialize in the swift identification of plant diseases and offer tailored solutions for vibrant and thriving greenery. <br>
                    <br>Our cutting-edge technology and expert analysis empower us to diagnose ailments accurately, ensuring your plants receive the care they deserve. From pesky pests to mysterious fungi, we unveil the secrets behind plant distress and provide actionable remedies.<br>
                    <br> Join us in cultivating healthier gardens, one diagnosis at a time. Let your plants flourish under our dedicated guidance, as we nurture a community committed to sustainable and disease-free horticulture. Welcome to a world where your garden's well-being is our top priority....<br></p> <br>
                <!-- <p class="about-style">My main focus these days is building products for passion and knowledge. I have also worked as an intern under a cyber-security based company that helped me gain knowledge in the field of cyber-security as well.</p><br><br>
                <p class="about-style">When I am not coding, I find myself gaming, I love role-play games but I do also play some multi-player games.</p> -->
                    <!-- I believe in staying at the forefront of technology, and AI/ML offers limitless opportunities for innovation and growth.-->
                </section>



        </section>

    </div>
    <!-- --------------members-------------------------------------- -->
    <div id="members">
        <div class="container">
            <h2 class="title">
                <span class="primary">TEAM </span>
                <span class="secondary">
                    Members
                </span>
            </h2>
            <div class="gallery-wrapper2">
        <figure class="gallery-item3">
            <img src="{{ url_for('static', filename='images/us.JPG') }}" alt="" class="item-image" />
            <figcaption class="item-description">
                <h2 class="name">Fields</h2>
                <span class="role"></span>
            </figcaption>
        </figure>
        <figure class="gallery-item2">
            <img src="{{ url_for('static', filename='images/us.JPG') }}" alt="" class="item-image" />
            <figcaption class="item-description">
                <h2 class="name">of</h2>
                <span class="role"></span>
            </figcaption>
        </figure>
        <figure class="gallery-item3">
            <img src="{{ url_for('static', filename='images/us.JPG') }}" alt="" class="item-image" />
            <figcaption class="item-description">
                <h2 class="name">Fortune,</h2>
                <span class="role"></span>
            </figcaption>
        </figure>
        <figure class="gallery-item2">
            <img src="{{ url_for('static', filename='images/us.JPG') }}" alt="" class="item-image" />
            <figcaption class="item-description">
                <h2 class="name">Farmers</h2>
                <span class="role"></span>
            </figcaption>
        </figure>
        <figure class="gallery-item3">
            <img src="{{ url_for('static', filename='images/us.JPG') }}" alt="" class="item-image" />
            <figcaption class="item-description">
                <h2 class="name">First.</h2>
                <span class="role"></span>
            </figcaption>
        </figure>
        <figure class="gallery-item2">
            <img src="{{ url_for('static', filename='images/us.JPG') }}" alt="" class="item-image" />
            <figcaption class="item-description">
                <h2 class="name">First.</h2>
                <span class="role"></span>
            </figcaption>
        </figure>
        <figure class="gallery-item3">
            <img src="{{ url_for('static', filename='images/us.JPG') }}" alt="" class="item-image" />
            <figcaption class="item-description">
                <h2 class="name">First.</h2>
                <span class="role"></span>
            </figcaption>
        </figure>
    </div>
        </div>
</div>
     <!-- -------------Portfolio--------------- -->
     <div id="portfolio">
        <div class="container">
            <h1 class="sub-title1">Explore</h1>
            <div class="work-list">
                <div class="work">
                    <img src="{{ url_for('static', filename='images/us.JPG') }}" alt="">
                    <div class="layer">
                        <h2 class="h22">Plant-disease detection</h2>
                        <p class="pl">Detect your plant disease and obtain the cure to it.</p>
                        <a href="./detect.html"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{{ url_for('static', filename='static/images/us.JPG') }}" alt="">
                    <div class="layer">
                        <h2 class="h22">Global Yield Gap Atlas</h2>
                        <p class="pl">Know crop yields globally for improved agricultural efficiency.</p>
                        <a href="./identify.html"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{{ url_for('static', filename='static/images/us.JPG') }}" alt="">
                    <div class="layer">
                        <h2 class="h22">Newsletter</h2>
                        <p class="pl">Know the latest updates on the plants and their fertilizers. </p>
                        <a href="./newsletter.html"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
     </div>
            <!-- <button class="btn-login" onclick="login()">Login</button>
            <button class="btn-logout" onclick="logout()">Logout</button> -->
            <!-- <button id="btn-login" disabled="true" onclick="login()">Log in</button> -->
            <!-- <button id="btn-logout" disabled="true" onclick="logout()">Log out</button> -->

            <!-- <a href="#" class="btn">See more</a> -->
            <!-- ---------------------------------------------------------- -->




    <div id="social-cards">
        <section class="container0">
            <!-- <section class="wrapper0">
                <div id="stars"></div>
                <div id="stars2"></div>
                <div id="stars3"></div>
           </section> -->
            <div class="cards">

                <div class="card0 twitter">
                    <h2 class="card0-title-large">Twitter</h2>
                    <h3 class="card0-title-small">Twitter</h3>
                    <p class="card0-description">
                        Follow me on Twitter to know more about me..
                    </p>
                    <a href="https://twitter.com/@achyuthan_s" class="card0-cta1">&rarr;</a>
                </div>
                <div class="card0 instagram">
                    <h2 class="card0-title-large">Instagram</h2>
                    <h3 class="card0-title-small">Instagram</h3>
                    <p class="card0-description">
                        Follow me on Insta to know more about me..
                    </p>
                    <a href="https://www.instagram.com/achyuthan.s/" class="card0-cta1">&rarr;</a>
                </div>

                <div class="card0 facebook">
                    <h2 class="card0-title-large">Github</h2>
                    <h3 class="card0-title-small">Github</h3>
                    <p class="card0-description">
                        Open to see my account..
                    </p>
                    <a href="https://www.facebook.com/" class="card0-cta1">&rarr;</a>
                </div>

                <div class="card0 LinkedIn">
                    <h2 class="card0-title-large">LinkedIn</h2>
                    <h3 class="card0-title-small">LinkedIn</h3>
                    <p class="card0-description">
                        Follow me on LinkedIn to know more about me..
                    </p>
                    <a href="https://www.linkedin.com/in/achyuthan-sivasankar-b0814b221/" class="card0-cta1">&rarr;</a>
                </div>
            </div>
        </section>
        <section class="container00">
            <div class="scroll">
              <div class="RightToLeft">
                <p class="infintescroll">Rooted in Wellness: Unmasking Plant Health Secrets!</p>
                <p class="infintescroll">Rooted in Wellness: Unmasking Plant Health Secrets!</p>
              </div>
              <div class="LeftToRight">
                <p class="infintescroll">Green Vigilance: Where Leaves Speak, We Listen!</p>
                <p class="infintescroll">Green Vigilance: Where Leaves Speak, We Listen!</p>
              </div>
            </div>
          </section>
          <!-- <img src="./images/signature.png" class="sign"/>
          <span class="doneby">-done by-</span> -->
          <!-- <img src="./images/whitearrow.png" class="whitearrow2"/>
            -->
        </div>
        <!-- ------------------contact me----------------- -->
        <div id="contact">
            <div class="contact">
                <div class="container">
                    <div class="row">
                        <div class="contact-left">
                            <h1 class="sub-ti"> Contact </h1>
                            <p><i class="fa-solid fa-paper-plane"></i><font color="white">achyuthan.sivasankar@gmail.com</font></p>
                            <p><i class="fa-solid fa-phone"></i><font color="white">+91 9845341031</font></p>
                             <div class="social-icons">
                                <a href="https://www.linkedin.com/in/achyuthan-sivasankar-b0814b221/"><i class="fab fa-linkedin"></i></a>
                <a href="https://wa.me/9845341031"><i class="fab fa-whatsapp"></i></a>
                <a href="https://twitter.com/@achyuthan_s"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/achyuthan.s/"><i class="fab fa-instagram"></i></a>

                             </div>
                             <!-- <a href="" class="button">Download CV</a> -->

                        </div>
                        <div class="contact-right">
                        <form>
                            <input type="text" name="Name" placeholder="Your Name" required>
                            <input type="email" placeholder="Your Email" required>
                            <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                            <button type="submit" class="btn btn2">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <script>
                ScrollReveal({


          distance:'60px',
          duration:2500,
          delay:400
        });

                 ScrollReveal().reveal('.header-text,#about,#contact', {delay:500});
                 ScrollReveal().reveal('.wrapper,.social-icons1,.about-col-1,.gallery-wrapper2,.title,.work,.contact', {delay:500, origin:'left'});
                 ScrollReveal().reveal('.image-box,hr,.img-tools,.img-tools1,.img-tools10,.img-tools12,.img-tools2,.img-tools3,.img-tools4,.img-tools5,.img-tools6,.img-tools7,.img-tools8,.img-tools9,.img-tools11', {delay:600, origin:'top'});
                 ScrollReveal().reveal('.btn,.btn0,.btn00,.btn01,btn02,.btn1,.btn2,.btn4,.about-style,.sub-title1', {delay:600,origin:'bottom'});
                 ScrollReveal().reveal('.card0.twitter,.gallery-item2', {delay:200,origin:'left'});
                 ScrollReveal().reveal('.card0.instagram', {delay:900,origin:'left'});
                 ScrollReveal().reveal('.card0.facebook', {delay:1600,origin:'left'});
                 ScrollReveal().reveal('.card0.LinkedIn', {delay:2300,origin:'left'});
                 ScrollReveal().reveal('.gallery-item3', {delay:2000,origin:'right'});
                 ScrollReveal().reveal('nav,.multi', {delay:1000,origin:'bottom'});
                 ScrollReveal().reveal('nav li,.social-icons1', {delay:2600,origin:'right'});
                 ScrollReveal().reveal('.logo', {delay:2600,origin:'left'});


                </script>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/9.16/auth0.min.js"></script>

    <script>
        var typingEffect = new Typed(".multitext",{

            strings:[ "Detecting Diseases, Nurturing Life."],
            loop :true,
            typeSpeed:100,
            backSpeed:80,
            backDelay : 1500
        })

    </script>


</body>
</html>